body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(92, 0, 104));
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-content{
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 36, 82);
    width: 750px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    color: wheat;
    display: grid;
    grid-template-columns: auto auto;
}

#fafa{
    font-size: 100px;
    color: rgb(68, 36, 82);
    border-radius: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: wheat;
}

.description{
    padding: 32.5px;
    padding-right: 40px;
    box-shadow: inset -10px 0 0 0 wheat;
}

.pp{
    height: fit-content;
    position: relative;
}

#ppimg{
    transition: 0.5s;
    width: 0px;
    height: 400px;
}

#ppimg2{
    transition: 0.5s;
    height: 0px;
}

.badge{
    display: none;
    transition: 0.5s;
}

#pointer{
    transition: 0.2s;
}

.portoF{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 750px;
    background-color: rgb(68, 36, 82);
    border-radius: 10px;
}

.seeT{
    color: wheat;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-bottom: -3px;
}

.seeP{
    color: wheat;
    background-color: rgb(117, 61, 141);
    font-weight: bold;
    margin-top: -2px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.seeP:hover{
    box-shadow: inset 0 -50px 0 0 wheat;
    color: rgb(68, 36, 82);
}

.NF{
    opacity: 0;
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(68, 36, 82);
    margin-top: -100px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.5s;
}

.subNF{
    display: grid;
    grid-template-columns: auto 10%;
    gap: 0;
}

.subNF a{
    text-decoration: none;
    color: rgb(117, 61, 141);
    padding: 10px;
    padding-left: 15px;
}

.nameP{
    background-color: wheat;
    padding-left: 20px;
    box-shadow: inset 0px 0 0 0 rgb(68, 36, 82);
    transition: 0.5s;
    border: 0;
}

.nameP:hover{
    box-shadow: inset -800px 0 0 0 rgb(117, 61, 141);
    color: wheat;
}

.linkP{
    background-color: wheat;
    text-align: center;
    box-shadow: inset 0px 0 0 0 rgb(68, 36, 82);
    transition: 0.5s;
    border: 0;
}

.linkP:hover{
    box-shadow: inset 100px 0 0 0 rgb(117, 61, 141);
    color: wheat;
}

#reso{
    background-color: rgb(49, 26, 59);
    padding: 5px;
}




@media screen and (max-width: 767px) {

    .main-content{
        margin-top: 50px;
        margin-bottom: 25px;
        width: 85%;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-auto-flow: dense;
    }

    .pp{
        width: 100%;
        margin-bottom: auto;
        grid-row: 1;
        box-shadow: inset 0 120px 0 0 wheat;
    }

    #ppimg2{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 100%;
    }

    .badge{
        color: rgb(68, 36, 82);
        background-color: wheat;
        padding: 10px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 63%;
        left: 60%;
    }

    .description{
        padding: 20px;
        box-shadow: unset;
    }

    #explain{
        height: 100px;
    }


    #fafa{
        display: none;
    }

    .portoF{
        width: 85%;
    }

    .subNF{
        font-size: 18px;
        grid-template-columns: auto 15%;
    }

    .nameP{
        padding-left: 10px;
    }

    
}

@media screen and (max-width: 500px) {
    .badge{
        top: 63%;
        left: 63%;
    }
}